@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600;700&family=Montserrat:wght@600&family=Oswald:wght@300;600&family=Pontano+Sans:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #E7F8ED;
    color: #0D313A;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    transition: background-color .5s ease;
}

.container{
    margin-left: 150px;
}

.wrapper{
    display: flex;
    margin: 0 auto;
    max-width: 1366px;
    padding-top: 45px;
}

.left-container{
    padding: 30px;
    min-width: 455px;
    max-width: 455px;
}

.right-container{
    padding: 30px;
}

#vertical-bar{
    width: 2px;
    height: 100vh;
    background-color: #0D313A;
}

.name{
    padding: 5px;
    font-size: 48px;
}

.job {
    padding: 5px;
    font-size: 32px;
}

.info-container {
    margin-top: 50px;
}

.info-container h3{
    font-size: 26px;
    padding: 5px;
}

.education-container{
    margin-top: 50px;
    padding: 5px;
}

.education-container h2{
    font-size: 32px;
}

.education-container h3{
    font-size: 20px;
    padding: 2px;
}

.projects-container{
    margin-top: 50px;
    padding: 5px;
}

.projects-container h2{
    font-size: 32px;
}