.dark-mode {
    background-color: #0D313A;
    color: #E7F8ED;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0D313A;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: #E7F8ED;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #E7F8ED;
}


.switch input:checked + .slider:before {

    background-color: #0D313A;
}

input:focus + .slider {
    box-shadow: 0 0 1px #0D313A;
}

input:checked + .slider:before {
    transform: translateX(17px);
}